.main {
	background: D8F8FD;
	font-size: 24px;
	width: 90%;
}

.footer {
	height: 40px;
	background-color: white;
	color: gray;
}

.header {
	background: linear-gradient(#6CFDA6,white);
	color: gray;
}

div.item input {
	margin-right:10px;
	margin-left:10px;
}

    

div.item.strikeout {
	text-decoration: line-through;
	color: gray;
}

label {
    display:block
}

label:first-child {
    font-weight:bold;
}
